/* style pro menu modul */

.Menu .items .item {
    list-style: none;
    position: relative;
}

.Menu .items.fade-in {
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: 20;
}

.Menu .edit-icon {
    display: none;
}
.Menu .items .icon-href .image {
    position: absolute;    
}
.Menu .items .move_menu_item .image {
    right: 12px;
    top: 1px;
}
.Menu .items .edit_menu_item .image {
    right: 1px;
    top: 1px;
}

.Menu .items .move_menu_item {
    cursor: Move;
}