{* Okno pro příhlášení administrace *}

{define loginWindow}
    {*snippet login-window*}
    <div id="snippet--login-window">
	<div class="window login" data-myshark-window-options="{json_encode(array('width' => 400, 'height' => 300))}">
	{*form loginForm}
	@todo vlastni layout pro formular
	{/form*}
	{$loginForm}
	</div>
    </div>
    {*/snippet*}
{/define}