{* Okno pro příhlášení administrace *}

{define loginWindow}
	<div class="window login" id="snippet--login-window" data-myshark-windows-options="{syntax double}{width:400,height:200}{{/syntax}}">
	{*form loginForm}
	@todo vlastni layout pro formular
	{/form*}
	{$loginForm}
	</div>
{/define}