#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:

	php: # PHP configuration
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes
		# default_charset: "UTF-8"

	nette:
		session:
			autoStart: smart

		database:
			#default:
			#	dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			#	user: %database.user%
			#	password: %database.password%

	services:
		#authenticator:
		#	class: UsersModel
			
		#robotLoader:
		#	run: true

	factories:


production < common:
	parameters:
		database:
			driver:	mysql
			host:	localhost
			database:	myshark
			username:	myshark
			password:	3c6cb5518e92aa6d8cc246197f9046b1
			profiler:	true

		debugMode:	true
		cacheMode:	false

development < common:
	parameters:
		database:
			driver:	mysql
			host:	localhost
			database:	myshark
			username:	root
			password:	misak
			profiler:	true

		debugMode:	true
		cacheMode:	false

console < common:
