/* Style pro základní koponenty */


body {
    text-align: center;
    margin: 0;
}

div {
    position: relative;
}

#body {
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

body div {
    text-align: left;
}